<header class="site-header" role="banner">
    {% assign custom_url = site.url | append: site.baseurl %} {% assign full_base_url = site.github.url | default: custom_url %}
    <div>
        <a  class="navbar-brand logo" 
            title="{{site.title | escape}}"
            href="{{ full_base_url }}/">{{ site.title | escape }}</a>
    </div>
    <nav class="navbar main-nav">
        {% if False %}
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ full_base_url }}/">{{ site.title | escape }}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-collapse">
            <ul class="nav navbar-nav">
                {% for my_page in site.pages %} {% if my_page.title and my_page.menu != false %}
                <li><a class="page-link" href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a></li>
                {% endif %} {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        {% else %}
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ full_base_url }}/">{{ site.title | escape }}</a>
        </div>
        {% endif %}
    </nav>
</header>
