{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}

<link rel="apple-touch-icon" href="{{full_base_url | append : "/assets/logo/blackhawk-logo-med.png"}}"/>
<link rel="apple-touch-icon-precomposed" href="{{full_base_url | append : ""}}/assets/logo/blackhawk-logo-med.png"/>

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="{{site.color | default : #444444}}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{site.title}}">
<meta itemprop="description" content="{{site.description}}">
<meta itemprop="image" content="{{full_base_url | append : "/assets/images/CNT Cloudy Sunset.jpg"}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{site.title}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:creator" content="@bozdoz">
<meta name="twitter:image" content="{{full_base_url | append : "/assets/images/CNT Cloudy Sunset.jpg"}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{site.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://blackhawkaviation.ca/" />
<meta property="og:image" content="{{full_base_url | append : "/assets/images/CNT Cloudy Sunset.jpg"}}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:site_name" content="{{site.title}}" />