<link rel="apple-touch-icon" href="{{site.baseurl}}/assets/logo/blackhawk-logo-med.png"/>
<link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/logo/blackhawk-logo-med.png"/>

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="{{site.color}}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{site.title}}">
<meta itemprop="description" content="{{site.description}}">
<meta itemprop="image" content="{{site.baseurl | append:"/assets/images/CNT Cloudy Sunset.jpg"}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{site.title}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:creator" content="@bozdoz">
<meta name="twitter:image" content="{{site.baseurl | append:"/assets/images/CNT Cloudy Sunset.jpg"}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{site.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://blackhawkaviation.ca/" />
<meta property="og:image" content="{{site.baseurl | append:"/assets/images/CNT Cloudy Sunset.jpg"}}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:site_name" content="{{site.title}}" />