<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content container" aria-label="Content">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          {{site.baseurl}} / 
          {{site.url}}
          <img src="/assets/blackhawk-logo.png" />
        </div>
        <div class="col-xs-12 col-sm-8">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>
